{% extends "base.html" %}
{% block title %}Fake it - Politic Speech{% endblock %}

{% block content %}
<section class="welcome-area-within" id="welcome">
    <br>
        <div class="inputs" >
            <h1><strong>Drop it like Obama!</strong></h1>
            <br>
            <h5>Try creating your own politic - inspirational maybe - speech with our AI's help.<br>All you need is to give it the first word you want, the size of your song and choose a speaker's style.</h5>
            <br>
            <br>    
                <form method="POST">
                    <p>How would you like to start your speech? <i>Type in the first word(s)</i></p>
                    <input type="text" name="seed" id="seed">            
                    <br>
                    <br>
                    <br>    
                    <p>What size would you like the poem to have? <i>We advise 1000 characters for a nice speech</i></p>
                    <input type="text" name="size" id="size">
                    <!-- <a class="main-button-slider" type="submit" value="Run Model">Rap it out!</a> -->

        </div>
    </div>
</section>


<section class="section padding-top-70 padding-bottom-0" id="features">
    <div class="button_container" style="margin-top:40px">

                    <button class="main-button-slider" type="submit" name="clicked_btn3" value="Obama">Barack Obama</button>
                    <button class="main-button-slider" type="submit" name="clicked_btn3" value="Trump">Donald Trump</button>

                </form>

    </div>
</section>
<br>
<br>
<div class="card mb-3" >
    <div class="row g-0">
        <div class="col-md-4">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_zrqthn6o.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay class="img-fluid rounded-start"></lottie-player>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h6 class="card-title">Check your speech fresh out of the AI oven:</h6>
                <p class="card-text"><pre>{{result}}</pre></p>
            
                <a href="{{url_for('sound')}}">sound</a>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script type=text/javascript>
                        $(function() {
                        $('a#sound').on('click', function(e) {
                            e.preventDefault()
                            $.getJSON('/sound',
                                function(data) {
                            //do nothing
                            });
                            return false;
                        });
                        });
                </script>             
            </div>
        </div>
    </div>
</div>


{% endblock %}