html {overflow-y: scroll;}

body {
    background-color: rgb(212,222,227);
    display:flex; 
    flex-direction:column; 
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

/* 
---------------------------------------------
header - RAP
--------------------------------------------- 
*/

.welcome-area-within {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/background_result.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    height: 120vh;
  }
  
.welcome-area-within .header-text {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    text-align: center;
    width: 100%;
  }
  
 .welcome-area-within .header-text h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    color: #fff;
  }
  
.welcome-area-within .header-text p {
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    line-height: 28px;
    letter-spacing: 0.25px;
    margin-bottom: 40px;
    position: relative;
  }

.button_container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 120px;
  margin-right: 120px;
}

.inputs {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  margin-left: 85px;
}

.inputs h1{
  display: flex;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 1.4px;
  margin-bottom: 30px;
  color: #fff;
  
}

.inputs h5{
  display: flex;
  font-weight: 450;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
  color: #fff;
}

.inputs p {
  display: flex;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  line-height: 28px;
  letter-spacing: 0.25px;
  position: relative;
}

/* 
---------------------------------------------
welcome - home
--------------------------------------------- 
*/

  .welcome-area {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/background2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    height: 120vh;
  }
  
.welcome-area .header-text {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    text-align: center;
    width: 100%;
  }
  
 .welcome-area .header-text h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    color: #fff;
  }
  
.welcome-area .header-text p {
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    line-height: 28px;
    letter-spacing: 0.25px;
    margin-bottom: 40px;
    position: relative;
  }



/* 
---------------------------------------------
header - navigation
--------------------------------------------- 
*/

.header-area {
    position: fixed;
    top: 30px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 100px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

.header-area .main-nav {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    border-radius: 40px;
    min-height: 80px;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.header-area .main-nav .logo {
    float: left;
    margin-top: 15px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-left: 30px;
  }
  
.header-area .main-nav .logo img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header-area .main-nav .nav {
    display: flex;
    float: right;
    margin-top: 27px;
    margin-left: 0px;
    margin-right: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
  }
  
  .header-area .main-nav .nav li {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .header-area .main-nav .nav li:last-child {
    padding-right: 0px;
  }
  
  .header-area .main-nav .nav li a {
    display: block;
    font-weight: 500;
    font-size: 15px;
    color: rgb(23, 23, 24);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 30px;
    border: transparent;
    letter-spacing: 1px;
  }


/* 
---------------------------------------------
Card Results
--------------------------------------------- 
*/
.card {
  cursor: pointer;
  display: block;
  background: #ffffff;
  /* linear-gradient(127deg, #a759d1 30%, #8261ee 91%); */
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  padding: 30px;
  text-align: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  align-items: center;
  margin-left:80px;
  margin-right: 80px;

}

.mb-3{
  margin-bottom:30rem
}

.col-md-8 {
  background: #ffffff;

}

/* 
---------------------------------------------
features
--------------------------------------------- 
*/
.features-small-item {
  cursor: pointer;
  display: block;
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  align-items: center;
  margin-bottom: 30px;
}

.features-small-item .icon {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 200px;
  height: 200px;
  line-height: 200px;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
  background: #FFFFFF;
}

.features-small-item .icon i {
  font-size: 18px;
  color: #fff;
}

.features-small-item .features-title {
  font-weight: 500;
  font-size: 18px;
  color: #0e0d0d;
  letter-spacing: 0.7px;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}

.features-small-item p {
  font-weight: 400;
  font-size: 13px;
  color: #777;
  letter-spacing: 0.5px;
  line-height: 25px;
  position: relative;
  z-index: 2;
}

.features-small-item a {
  float: right;
  position: relative;
  z-index: 2;
}

.home-feature {
  padding-bottom: 0px;
  padding-top: 30px;
  margin-top: -220px;
  z-index: 9;
}

a.main-button-slider {
    float: center;
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
    padding: 12px 20px;
    background-color: #ff589e;
    color: rgb(255, 255, 255);
    letter-spacing: 0.25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
a.main-button-slider:hover {
    background-color: #8261ee;
  }

/* BUTTON FOR EACH PAGE */
button.main-button-slider {
  float: center;
  font-size: 25px;
  text-align: center;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #ff589e;
  color: #fff;
  letter-spacing: 0.50px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  align-items: center;

}

button.main-button-slider:hover {
  background-color: #8261ee;
}

  
.h1 {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    color: rgb(113, 69, 124);
    text-align: center;
  }

.p {
    font-family: "Raleway", sans-serif;
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    text-align: left;
  }

@font-face {
    font-family: "Raleway", sans-serif;
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* 
---------------------------------------------
footer
--------------------------------------------- 
*/
/* footer {
  display: flex;
  align-content: flex-end;
  background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
  padding-top: 30px;
  clear: both;
  position: relative;
  height: 200px;
  margin-bottom: 30px;
} */

footer {
  display: flex;
  align-content: flex-end;
  position:relative;
  left:0px;
  bottom:0px;
  height:50;
  width:100%;
  padding-top: 0px;
  clear: both;
  background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
  margin-bottom: 0px;
  flex-direction: row 
}

footer .copyright {
  text-align: center;
  border-top: 1px solid rgba(250,250,250,0.2);
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.88px;
}

@media (max-width: 991px) {
  footer .text {
    margin-bottom: 30px;
  }
  footer h5 {
    margin-bottom: 15px;
  }
  footer .footer-nav {
    margin-bottom: 30px;
  }
}

